.input-data {
  margin-left: 10px;
  padding: 10px;
  color: $placeholder;
  outline: none;
  border-radius: 6px;
  width: 250px;
  font-size: 14px;
}

.input-data::placeholder {
  color: $placeholder;
}
